<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @guest.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @guest.lastname %>
</p>

<p>
  <strong>Table:</strong>
  <%= @guest.table %>
</p>

<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
